<body class='background'>
  <div class='login'>

    <h1>Login</h1>

    <form action='/login' method='POST'>

      <label class='username' for=''>Username</label>
      <input type='text' name='username' required />

      <label class='password' for=''>Password</label>
      <input type='password' name='password' required />

      <button type='submit'>Login</button>

    </form>
  </div>
</body>
{{#if errorMessage}}
  <div style='color:red'>{{errorMessage}}</div>
{{/if}}