<h1>Create new book</h1>
<form action='/books/create' method='POST' enctype='multipart/form-data'>
  <label for=''>Title</label>
  <input type='text' name='title' />

  <label for=''>Author</label>
  {{! <input type='text' name='author' /> }}
  <select name='author'>
    <option value=''>Choose an author</option>

    {{#each authors}}
      <option value='{{id}}'>{{name}}</option>
    {{/each}}

    {{! <option value='Koray'>Koray</option>
    <option value='Miguel'>Miguel</option>
    <option value='Joao'>Joao</option> }}
  </select>

  <label for=''>Description</label>
  <textarea cols='30' row='4' name='description'></textarea>

  <label for=''>Rating</label>
  <input type='number' name='rating' min='1' max='10' />

  <label for=''>Image</label>
  <input type='file' name='image' />

  <button type='submit'>Create</button>
</form>