@import url('https://fonts.googleapis.com/css?family=Meie+Script|Shadows+Into+Light|Arvo|Monda');

body {
  font: 14px 'Lucida Grande', Helvetica, Arial, sans-serif;
}
.nav-item-title {
  font: 20px 'Comic Sans MS';
  padding-left: 170px;
}
.carousel-item {
  height: 650px;
}
.col-script,
.form-group,
.create,
.create-button,
.africa,
.asia,
.europe,
.northAmerica,
.southAmerica,
.recipe-details,
.signup,
.login {
  font-family: 'Shadows Into Light';
}

.create-button {
  font-family: 'Shadows Into Light';
  margin-top: 20px;
}
.edit-button {
  margin-top: 20px;
}

.nav-item-logout {
  font-family: Arial, Helvetica, sans-serif;
  padding-left: 350px;
}
#logout {
  display: flex;
  border: none;
  margin-top: 7px;
  background: none;
}
.region-title {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 20px;
}
.region-cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

#europe-image {
  width: 287px;
  height: 300px;
}
#asia-image {
  width: 287px;
  height: 300px;
}
#northAmerica-image {
  width: 287px;
  height: 300px;
}
#southAmerica-image {
  width: 287px;
  height: 300px;
}
#africa-image {
  width: 287px;
  height: 300px;
}
.form-group {
  font-size: 20px;
}
.create-new {
  display: flex;
  flex-direction: row-reverse;
  font-family: 'Shadows Into Light';
  font-size: 20px;
  color: black;
}

.recipe-details,
.asia,
.southAmerica,
.europe,
.northAmerica,
.africa,
.login,
.signup {
  font-size: 20px;
}
.image {
  display: flex;
  flex-direction: row-reverse;
}
.background {
  background-image: url(../images/signup\ background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.username,
.password {
  background-color: white;
  font-weight: bolder;
  font-size: 30px;
}
