<h1 class='create'>Create new recipe</h1>
<form action='/recipes/create' method='POST'>
  <div class='form-group'>
    <label for='exampleFormControlInput1'>Title</label>
    <input
      type='text'
      name='title'
      class='form-control'
      id='exampleFormControlInput1'
    />
  </div>

  <div class='form-group'>
    <label for='exampleFormControlSelect1'>Region</label>
    <select
      type='text'
      name='region'
      class='form-control'
      id='exampleFormControlSelect1'
    >
      {{#each region}}
        <option value={{id}}>{{name}}</option>
      {{/each}}

    </select>
  </div>
  <div class='form-group'>
    <label for='exampleFormControlInput2'>Country</label>
    <input
      type='text'
      name='country'
      class='form-control'
      id='exampleFormControlInput2'
    />
  </div>

  <div class='form-group'>
    <label for='exampleFormControlTextarea1'>Ingredients</label>
    <textarea
      class='form-control'
      id='exampleFormControlTextarea1'
      rows='2'
      name='ingredients'
    ></textarea>
  </div><div class='form-group'>
    <label for='exampleFormControlSelect2'>Difficulty level</label>
    <select
      class='form-control'
      name='difficulty level'
      id='exampleFormControlSelect2'
    >
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
    </select>
  </div>
  <div class='form-group'>
    <label for='exampleFormControlInput3'>Preparation time</label>
    <input
      type='text'
      name='preparation time'
      class='form-control'
      id='exampleFormControlInput3'
    />
  </div>
  <div class='form-group'>
    <label for='exampleFormControlInput4'>Serves</label>
    <input
      type='text'
      name='serves'
      class='form-control'
      id='exampleFormControlInput4'
    />
  </div>
  <div class='form-group'>
    <label for='exampleFormControlInput5'>Image</label>
    <input
      type='file'
      name='image'
      class='form-control'
      id='exampleFormControlInput5'
    />
  </div>
  <div class='form-group'>
    <label for='exampleFormControlTextarea2'>Cooking instructions</label>
    <textarea
      class='form-control'
      name='cooking instructions'
      id='exampleFormControlTextarea2'
      rows='3'
    ></textarea>
  </div>
  <div class='create-button'>
    <button type='submit'>Create</button></div>
</form>