<body class='favourites-background'>
  <div class='favourites'>
    <h1>
      {{#if currentUser}}
        <p>{{currentUser.username}}'s favourite recipes</p>

      {{/if}}</h1>

    {{#each favouriteRecipes}}

      <h3>
        <span> <a href='/recipes/{{id}}'>{{title}}</a></span><span
          class='remove'
        >
          <form action='/recipes/favourite/delete/{{_id}}' method='POST'>
            <button>Remove from Favourites</button>
          </form>
        </span>
      </h3>

    {{/each}}

  </div>
</body>