<h1 class='create'>Create new recipe</h1>
<form>
  <div class='form-group'>
    <label for='exampleFormControlInput1'>Title</label>
    <input
      type='text'
      name='title'
      class='form-control'
      id='exampleFormControlInput1'
    />
  </div>

  <div class='form-group'>
    <label for='exampleFormControlSelect1'>Region</label>
    <select name='region' class='form-control' id='exampleFormControlSelect1'>
      {{#each region}}
        <option value={{id}}>{{name}}</option>
      {{/each}}

    </select>
  </div>
  <div class='form-group'>
    <label for='exampleFormControlInput1'>Country</label>
    <input type='text' class='form-control' id='exampleFormControlInput1' />
  </div>

  <div class='form-group'>
    <label for='exampleFormControlTextarea1'>Ingredients</label>
    <textarea
      class='form-control'
      id='exampleFormControlTextarea1'
      rows='2'
    ></textarea>
  </div><div class='form-group'>
    <label for='exampleFormControlSelect1'>Difficulty level</label>
    <select class='form-control' id='exampleFormControlSelect1'>
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
    </select>
  </div>
  <div class='form-group'>
    <label for='exampleFormControlInput1'>Preparation time</label>
    <input type='text' class='form-control' id='exampleFormControlInput1' />
  </div>
  <div class='form-group'>
    <label for='exampleFormControlInput1'>Image</label>
    <input type='file' class='form-control' id='exampleFormControlInput1' />
  </div>
  <div class='form-group'>
    <label for='exampleFormControlTextarea1'>Cooking instructions</label>
    <textarea
      class='form-control'
      id='exampleFormControlTextarea1'
      rows='3'
    ></textarea>
  </div>
  <div class='create-button'>
    <button type='submit'>Create</button></div>
</form>