<h2>Search Results for "{{searchQuery}}"</h2>
{{#if recipes}}
  <ul>
    {{#each recipes}}
      {{#if this}}
        <a href='/recipes/{{id}}'><li>{{title}}</li></a>
      {{/if}}
    {{/each}}
  </ul>
{{else}}
  <p>No results found.</p>
{{/if}}