<div class='africa'>

  <h1>Africa</h1>
  <hr />
  {{#each recipes}}
    <div>
      <h3>
        <a href='/recipes/{{id}}'>{{title}}</a>
      </h3>

      <p>Country: {{country}}</p>
    </div>
    <hr />

  {{/each}}
</div>
{{#if currentUser.role}}
  {{! Remember to uncomment when presenting project! }}
  <a class='create-new' href='/recipes/create'>Create new recipe</a>
{{/if}}