<div class='northAmerica'>

  <h1>North America</h1>
  <hr />
  {{#each recipes}}
    <div>
      <h3>
        <a href='/recipes/{{id}}'>{{title}}</a>
      </h3>

      <p>Country: {{country}}</p>
    </div>
    <hr />

  {{/each}}
</div>
<a class='create-new' href='/recipes/create'>Create new recipe</a>